@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Parisienne&display=swap');

:root {
  --primary-color: #008827;
  --secondary-color: #63ed81;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Fredoka", sans-serif;
  --subtitle-font-name: "Parisienne", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary-btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary-btn a:hover {
  color: inherit;
}
.secondary-btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary-btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary-btn a:hover {
  color: inherit;
}

.section-subtitle {
  background: var(--bs-success);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 4px 8px;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: white;
}
